*{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

  .phone{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 50;
    animation: showWhatsapp 1s linear infinite;
}
@keyframes  showWhatsapp{
    0%{
        transform: scale(.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(.8);
    }
}
header img{
    width: 200px;
    padding: 20px 5px 0px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 10px;
}
header nav a{
    text-decoration: none;
    color: rgb(31, 30, 30);
    font-size: 20px;
    transition: .2s linear;
    padding: 10px;
    margin: 10px;
}
header nav ul a:hover{
    color: rgb(0,49,83);
    box-shadow:0px -6px 0 rgb(0,49,83) inset;
    
}
header nav ul a.active{
    color: rgb(0,49,83);
    box-shadow:0px -6px 0 rgb(0,49,83) inset;
}
.fix-nav a.active{
    box-shadow:0px -6px 0 white inset;
}
.fix-nav{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 5px 10px;
    background-color: rgb(0, 0, 0, .8);
    z-index: -20;
    opacity: 0;
    transition: 1s;
}
.fix-nav.active{
    z-index: 20;
    opacity: 1;
}
.fix-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
}
.fix-nav a{
    text-decoration: none;
    color: white;
    transition: .2s linear;
    padding: 10px;
    margin: 10px;
}
.fix-nav a:hover{
    box-shadow:0px -6px 0 white inset;
}
.conteiner{
    background-image:url(./Germany/img/germania.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    margin-top: 10px;
}
button{
    padding: 20px;
    background-color: rgb(0,49,83);
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 15px 0 rgba(9, 118, 196, 0.808);
    transition: 0.5s;
    margin: 40px;
}
button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
button:hover{
    transform: translate(0,-3px);
    box-shadow: 0 10px 10px 0 rgba(11, 99, 246, 1);
    cursor: pointer;
}
.transfer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    animation: showText 1s both;
    position: relative;
}
@keyframes showText{
    0% { /* Старт анимации */
        opacity: 0;
        transform: translate3d(0%, 50%, 0px);
    }
    100% { /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
    }
}
.transfer h2{
    font-size: 50px;
    margin-bottom: 40px;
    text-shadow: rgb(0, 0, 0) 2px 0 10px;
    margin: 40px;
    font-weight: 600;
}
.transfer p{
    font-size: 25px;
    font-weight: 400;
    text-shadow: rgb(0, 0, 0) 2px 0 10px;
    margin: 40px;
    font-weight: 600;
}
.transfer__swipe{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
}
.transfer__swipe span{
    width: 30px;
    height: 2px;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    top: 20px;
    left: -5px;
    animation: spanAnim 1s linear infinite;
}
.transfer__swipe span:nth-of-type(2){
    transform: rotate(-45deg);
    left: 15px;
}
@keyframes spanAnim {
    0%{
        top: 20px;
    }
    50%{
        top: 10px;
    }
    100%{
        top: 20px;
    }
}

.auto{
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auto-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.swiper {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .swiper-slide img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
.swiper-button-next, .swiper-button-prev{
    color:  white !important;
}
.auto-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(218, 217, 223);
    padding: 20px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px;
}
.auto-item h2{
    color: rgb(31, 30, 30);
    font-size: 2em;
}
.auto-item p{
    color: rgb(31, 30, 30);
    font-size: 1.5em;
    font-weight: 300;
}
.auto-item button{ 
    margin: 0px;
    width: 200px;
    color: white;
    font-size: 20px;
}


.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(218, 217, 223);
}
.questions h2{
    font-size: 38px;
    color: rgb(0,49,83);;
    font-weight: 500;
    margin: 30px;
    font-weight: 600;
}
.questions p{
    margin: 20px;
    font-size:20px;
    color: rgb(31, 30, 30);
    width:100%;
    text-align: center;
}
.questions img{
    width: 40px;
}

footer{
    background-image: url(./img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px;
}
footer img{
    width: 40px;
}
footer nav{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    
}
footer nav button{
    margin: 10px;
    width: 40%;
}
footer nav h2{
    font-size: 38px;
    color:white;
    font-weight: 500;
    margin-bottom:40px;
    font-weight: 600;
}